# https://editorconfig.org/

# 项目的根配置文件
root = true

# 下面的配置适用于所有文件
[*]
# 文件的字符编码
charset = utf-8
# 缩进风格 tab（制表符）或 space（空格）
indent_style = space
# 每个缩进级别的空格数
indent_size = 4
# 换行符的类型 可选值为 lf（Unix 风格）、cr（Mac 风格）或 crlf（Windows 风格）
end_of_line = lf
# 文件末尾插入一个空行 可选值为 true 或 false
insert_final_newline = true
# 删除行末尾的空白字符。可选值为 true 或 false
trim_trailing_whitespace = true
# 运算符两边都有空格
spaces_around_operators = true
# 字符串使用单引号  single单引号, double 双引号
quote_type = single
indent_brace_style = 2tbs

# js和css共用的配置
[*.{js,css}]
# 大括号不另起一行
curly_bracket_next_line = true

# html文件的配置
[*.html]

# js文件的配置
[*.js]

# css文件的配置
[*.css]

# py文件的配置
[*.py]
