html {
    /* 滚动条出现造成页面晃动的问题 */
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

.me-menu {
    padding-left: 48px;
    padding-right: 48px;
    background: linear-gradient(to right, #ffecea, #c4e7f7, #ffecea, #c4e7f7, #ffecea);
}

.me-list {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 48px;
}

.me-img {
    /*超出父类部分隐藏*/
    overflow: hidden;
    /* 图片上面两个角圆角 */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /* 图片未加载时高度填充*/
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #ffecea, #c4e7f7, #ffecea, #c4e7f7, #ffecea);
}

.me-img:after {
    content: "";
    display: block;
    /* 图片未加载时高度填充*/
    padding-bottom: 60%;
}

.me-img img {
    /* 缩小还原 */
    -webkit-transition: all .444s ease-in-out;
    -o-transition: all .444s ease-in-out;
    transition: all .444s ease-in-out;
    /* 图片未加载时高度填充*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.me-img:hover img {
    /*悬停放放大*/
    transform: scale(1.05);
    -webkit-transition: all .444s ease-in-out;
    -o-transition: all .444s ease-in-out;
    transition: all .444s ease-in-out;
    -webkit-filter: brightness(80%);
    filter: brightness(80%)
}

.me-img-title {
    /* 标题可能多行导致对不齐 */
    height: 3em;
    /* 只显示两行(或多行)，超出部分用省略号 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.me-card:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16), 0 5px 15px 0 rgba(0, 0, 0, 0.12);
}

.me-meta {
    color: #999fa5 !important;
}

.me-img-error {
    /* 图片加载错误的捕获及处理 */
    position: relative;
    width: 100%;
    height: 100%;
}

img.me-img-error::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    color: transparent;
}

img.me-img-error::after {
    content: "图片加载出错啦！";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    line-height: 10em;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.me-load-mask {
    /* 遮罩层 */
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
}

.me-lodding {
    /* 加载动画位置 */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.me-lodding:after {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.me-cursor-default {
    /* 默认光标（通常是一个箭头） */
    cursor: default;
}

.me-cursor-pointer {
    /* 光标呈现为指示链接的指针（一只手） */
    cursor: pointer;
}

.me-cursor-pointer:hover {
    /* 鼠标滑过效果 */
    color: black;
    font-weight: bold;
}

.me-cursor-not-allowed {
    /* 光标呈现为红色的圈加一个斜杠，表示禁止的意思 */
    cursor: not-allowed;
}

.me-cursor-zoom-in {
    /* 光标呈现为黑色的圈加一个加号，表示放大的意思 */
    cursor: zoom-in;
}

.me-cursor-zoom-out {
    /* 光标呈现为黑色的圈加一个减号，表示缩小的意思 */
    cursor: zoom-out;
}


.me-view-mask {
    /* 遮罩层 */
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    /* backdrop-filter: blur(6rpx); */
    /* filter: blur(6px); */
    background-color: rgba(0, 0, 0, .3);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}